nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 64px;
}

nav h1 {
	justify-content: flex-start;
	font-size: 2.5rem;
	padding: 0.5rem 0;
	margin-bottom: 0;
}

nav h1 button {
	height: inherit;
	padding: inherit;
	color: #fff;
	text-align: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-transform: inherit;
	border-radius: 0;
	border: 0;
}

nav h1 button:hover, nav h1 button:focus {
	color: #efefef;
}

nav ul {
	justify-content: flex-end;
}

nav ul li {
	display: inline-flex;
    padding: 0.5rem 1rem;
}

nav a {
	color: #fff;
}

nav h1 a:hover {
	text-decoration: none;
}

nav a:hover {
	color: #efefef;
}