nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 64px;
}

nav h1 {
	justify-content: flex-start;
	font-size: 2.5rem;
	padding: 0.5rem 0;
	margin-bottom: 0;
}

nav ul {
	justify-content: flex-end;
}

nav ul li {
	display: inline-flex;
    padding: 0.5rem 1rem;
}

nav a {
	color: #fff;
}

nav h1 a:hover {
	text-decoration: none;
}

nav a:hover {
	color: #efefef;
}